.teamContainer {
    background-color: #111;
    color: #fff;
    padding: 2rem;
    position: relative;

    background:
        url('../../assets/svg/faq/Gradient.svg') no-repeat center center;
    background-size: cover;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        background: rgba(8, 242, 255, 0.39);
        opacity: 0.5;
        filter: blur(327px);
    }

    &::after {
        top: -250px;
        left: -250px;
    }

    &::before {
        top: -250px;
        right: -250px;
        transform: rotate(-31.906deg);
    }
}

.sectionTitle {
    font-family: "Space Grotesk";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 104px;
    /* 86.667% */
    letter-spacing: -4.8px;
    text-align: center;
}

.sectionDescription {
    color: var(--grey-text, #AFAFAF);
    text-align: center;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 140% */
    max-width: 600px;
    margin: 2rem auto;


    span {
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }
}

.grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;

    min-height: calc(297.722px + 5rem);

    .person:nth-child(even) {
        align-self: flex-end;
    }

    .person:nth-child(odd) {
        align-self: flex-start;
    }
}

.advisor {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 2rem;
    width: 100%;
    justify-content: center;

    .person {
        width: 50%;
        width: 370px;
        height: 472.778px;
    }
}

.person {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 233px;
    height: 297.722px;
    padding: 1rem;
    box-shadow:
        inset 0 20px 20px -20px rgba(0, 0, 0, 0.9),
        inset 0 -20px 20px -20px rgba(0, 0, 0, 0.7);
}

.bigIcon {
    position: absolute;
    bottom: -30px;
    right: -30px;
    height: auto;
    margin: 0;
    padding: 0;
}

.icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    height: auto;
    margin: 0;
    padding: 0;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.linkedinButton {
    background-color: #0e76a8;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.nameAdvisor {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 19.056px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.role {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.roleAdvisor {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 31.76px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.advisors {
    margin-top: 5rem;
}