.container {
    background-image: url("../../assets/images/map-bg.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    position: relative;
    height: 1400px;

    // margin-top: 48px;
    // padding-top: 150px;

    .mobileMap {
        display: none;
    }

    @media screen and (max-width: 1600px) {
        background-image: none;
        margin-top: 0px;
        height: fit-content;

        .mobileMap {
            display: block;
            position: relative;
            overflow-x: auto;
            padding: 0;
            margin: 60px 0;

            &::-webkit-scrollbar {
                display: none;
            }


            & > img {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }

        .point1,
        .point2,
        .point3,
        .point4,
        .point5 {
            display: none;
        }
    }
}

@keyframes fade {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.content {
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .subTitle {
        max-width: 610px;
        padding: 0 32px;

        font-family: "Inter Tight", sans-serif;
        font-size: 25px;
        font-weight: 300;
        line-height: 44.8px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #afafaf;

        span {
            font-weight: 600;
        }
    }

    .title {
        max-width: 848px;

        font-family: "Space Grotesk", sans-serif;
        font-size: 100px;
        font-weight: 400;
        line-height: 104px;
        letter-spacing: -0.04em;
        text-align: right;
        color: #f0f0f0;
    }
    .contentButton {
        display: none;
    }

    @media screen and (max-width: 1600px) {
        flex-direction: column-reverse;
        gap: 16px;

        .title {
            font-size: 44px;
            line-height: 42px;
            text-align: center;
        }

        .subTitle {
            font-size: 16px;
            line-height: 23px;
            text-align: center;
        }

        .contentButton {
            display: block;
            padding: 16px 32px;

            border-radius: 100px;
            background: #f0f0f01a;
            color: #afafaf;

            font-size: 22px;
            font-weight: 500;
            line-height: 28.6px;
            letter-spacing: -0.01em;
            text-align: center;

            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            &:active {
                opacity: 0.8;
            }
        }
    }
}

.point1,
.point2,
.point3,
.point4,
.point5 {
    background: transparent;
}

.videoWrapper {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);

    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        .play {
            opacity: 0.5;
        }
    }
}

.point1 {
    animation: fade 0.3s ease-in-out;
    position: absolute;
    left: 106px;
    bottom: 290px;
}
.point2 {
    position: absolute;
    bottom: 560px;
    left: 50%;
    transform: translateX(-50%);
}
.point3 {
    position: absolute;
    right: 240px;
    bottom: 420px;
}
.point4 {
    position: absolute;
    z-index: 1;
    bottom: 43px;
    right: 180px;

    .videoWrapper {
        left: 0;
        transform: translateX(-20%);
    }
}
.point5 {
    position: absolute;
    bottom: 220px;
    right: 100px;

    .videoWrapper {
        left: 0;
        transform: translateX(50%);
    }
}

