.wrapper {
  width: 100%;
  height: 136px;
  position: relative;
  background-image: url("../../../../assets/svg/why/Subtract.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  &:nth-child(2) {
    // margin-top: 80px;
    align-self: flex-end;
  }
  &:nth-child(3) {
    margin-left: 80px;
  }
  .desc {
    max-width: 410px;
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
    color: #f0f0f0;
    span {
      font-weight: 700;
    }
  }
  .number {
    position: absolute;
    bottom: 0;
    right: 0;
    // border: 2px solid rgba(237, 255, 254, 0.4);
    border: 2px solid rgba(18, 255, 241, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
  .wrapper {
    width: 361px;
    height: 172px;
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    .desc {
      span {
      }
    }
    .number {
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
  .wrapper {
    width: 361px;
    height: 172px;
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    .desc {
      span {
      }
    }
    .number {
      width: 50px;
      height: 50px;
    }
  }
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
  .wrapper {
    width: 543px;
    height: 214px;
    background-image: url("../../../../assets/svg/why-item-bg.svg");
    padding-left: 50px;
    &:nth-child(2) {
      margin-top: 80px;
      align-self: flex-end;
    }
    &:nth-child(3) {
      margin-left: 80px;
    }
    .desc {
      max-width: 410px;
      font-size: 32px;
      line-height: 44.8px;
      span {
      }
    }
    .number {
      font-size: 28px;
      line-height: 33.6px;
    }
  }
}
