.wrapper {
  width: 330px;
  height: 160px;
  position: relative;
  background-image: url("../../../../assets/svg/why/Subtract.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 30px;
  &:nth-child(2) {
    // margin-top: 80px;
    align-self: flex-end;
  }
  &:nth-child(3) {
    margin-left: 80px;
  }

  .title {
    max-width: 296px;

    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #f0f0f0;
    // text-wrap: nowrap;
  }
  .desc {
    max-width: 260px;
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #f0f0f0;
  }
  .number {
    position: absolute;
    bottom: 0;
    right: 0;
    // border: 2px solid rgba(237, 255, 254, 0.4);
    border: 2px solid rgba(18, 255, 241, 0.5);
    width: 36px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16.96px;
    font-weight: 700;
    line-height: 20.36px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(237, 255, 254, 0.7);

    font-family: Space Grotesk;
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
  .wrapper {
    gap: 10px;
    padding: 25px 30px 25px;
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    .desc {
      span {
      }
    }
    .number {
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
  .wrapper {
    width: 361px;
    height: 172px;
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    .desc {
      span {
      }
    }
    .number {
      right: 5px;
      width: 40px;
      height: 40px;
    }
  }
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
  .wrapper {
    display: flex;
    justify-content: center;
    width: 460px;
    height: 268px;
    background-image: url("../../../../assets/svg/why-item-bg.svg");
    padding: 30px 25px 30px 40px;
    &:nth-child(2) {
      margin-top: 80px;
      align-self: flex-end;
    }
    &:nth-child(3) {
      margin-left: 80px;
    }

    .title {
      max-width: 396px;
      text-wrap: wrap;
      font-size: 26.5px;
      font-weight: 700;
      line-height: 37.1px;
    }
    .desc {
      max-width: 410px;
      font-size: 26.5px;
      font-weight: 400;
      line-height: 37.1px;

      span {
      }
    }
    .number {
      width: 50px;
      height: 50px;
      border-radius: 7px;

      font-size: 23.19px;
      font-weight: 700;
      line-height: 27.83px;
      letter-spacing: -0.01em;
    }
  }
}
