.mobileWrapper {
  padding: 1rem;
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  margin-top: 3rem;
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    > img {
      width: 100%;
      border-radius: 10px;
    }
    > div {
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      > span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 105px;
        line-height: 114px;
        font-weight: 700;
        margin-left: -4px;
      }
      > p {
        font-size: 12px;
        line-height: 15px;
        font-weight: 200;
        padding: 0.5rem 1rem 1rem;
      }
    }
  }
  > div {
    overflow: hidden;
    transition: all 0.3s;
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 1rem;
      // max-width: 393px;
      margin-left: auto;
      margin-right: auto;
      &.isHidden {
        display: none;
        // animation: fadeOut 2s forwards; /* Анимация исчезновения */
      }
      > div {
        > img {
          width: 100%;
          border-radius: 10px;
        }
        &:nth-child(1) {
          grid-row: span 2;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        &:nth-child(2) {
          grid-row: span 2;
          > div {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 1rem;
            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1rem;
              > span {
                font-size: 28px;
                line-height: 28px;
                font-weight: 700;
              }
              > img {
                width: 3px;
              }
            }
            > p {
              font-size: 12px;
              line-height: 15px;
              font-weight: 200;
              margin-top: 3rem;
            }
          }
        }
        &:nth-child(3) {
          > div {
            height: 100%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 1rem;
            > img {
              width: 100%;
            }
            > p {
              font-size: 12px;
              line-height: 15px;
              font-weight: 200;
              margin-top: 1rem;
            }
          }
        }
        &:nth-child(4) {
        }
        &:nth-child(5) {
        }
        &:nth-child(6) {
          > div {
            height: 100%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 1rem;
            > p {
              font-size: 12px;
              line-height: 15px;
              font-weight: 200;
              margin-bottom: 1rem;
            }
            > img {
              width: 100%;
            }
          }
        }
        &:nth-child(7) {
          grid-column: span 2;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          > div {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            &:first-child {
              flex: 1 1 min-content;
              padding: 1rem;
              > img {
                width: 100%;
                margin-bottom: 1rem;
              }
              > p {
                font-size: 12px;
                line-height: 15px;
                font-weight: 200;
              }
            }
            &:last-child {
              flex: 0 0 105px;
            }
          }
        }
        &:nth-child(8) {
          > div {
            height: 100%;
            flex: auto;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 1rem;
            > img {
              width: 70%;
              margin-bottom: 1rem;
            }
            > p {
              font-size: 12px;
              line-height: 15px;
              font-weight: 200;
              text-align: left;
            }
          }
        }
        &:nth-child(9) {
        }
        &:nth-child(10) {
          min-height: 175px;
        }
        &:nth-child(11) {
          min-height: 175px;
        }
      }
    }
  }
}

.imgBox {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  .btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
    line-height: 28px;
    color: #f0f0f0;
    span {
      display: flex;
      padding: 2px 0 0 1px;
      border: 2px solid rgba(18, 255, 241, 0.5);
      height: 30px;
      width: 30px;
      border-radius: 7px;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
  .mobileWrapper {
    .header {
      > img {
      }
      > div {
        > span {
        }
        > p {
        }
      }
    }
    > div {
      .content {
        max-width: 393px;
        &.isHidden {
        }
        > div {
          > img {
          }
          &:nth-child(1) {
          }
          &:nth-child(2) {
            > div {
              > div {
                > span {
                  font-size: 44px;
                  line-height: 44px;
                }
                > img {
                }
              }
              > p {
              }
            }
          }
          &:nth-child(3) {
            > div {
              > img {
              }
              > p {
              }
            }
          }
          &:nth-child(4) {
          }
          &:nth-child(5) {
          }
          &:nth-child(6) {
            > div {
              > p {
              }
              > img {
              }
            }
          }
          &:nth-child(7) {
            > div {
              &:first-child {
                > img {
                }
                > p {
                }
              }
              &:last-child {
              }
            }
          }
          &:nth-child(8) {
            > div {
              > img {
              }
              > p {
              }
            }
          }
          &:nth-child(9) {
          }
          &:nth-child(10) {
          }
          &:nth-child(11) {
          }
        }
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
}
