.container {
    max-width: 960px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        max-width: none;
    }
}

.title {
    max-width: 1054px;

    font-family: "Space Grotesk", sans-serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 104px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #f0f0f0;

    @media screen and (max-width: 1600px) {
        max-width: none;
        padding: 0 40px;

        font-size: 44px;
        line-height: 42px;
        text-align: center;
    }
}
.mobileSlider {
    display: none;
}
.wrapper {
    display: flex;
}
@media screen and (max-width: 1024px) {
    .mobileSlider {
        display: flex;
    }
    .wrapper {
        display: none;
    }
}

.wrapper,
.mobileSlider {
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;

        flex-direction: row;
        justify-content: start;

        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 20px;
    }
}

.iconWrapper {
    background: linear-gradient(
        113.36deg,
        rgba(29, 222, 210, 0.1) 16.73%,
        rgba(16, 120, 114, 0.1) 79.7%
    );
    width: 160px;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 170px;
    border: 1px solid rgba(237, 255, 254, 0.2);

    @media screen and (max-width: 1024px) {
        width: 140px;
        height: 140px;
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.itemName {
    width: fit-content;
    font-family: "Space Groteskin", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: left;
    text-wrap: nowrap;

    background: linear-gradient(
        90deg,
        rgba(18, 255, 241, 0.8) 0%,
        #000000 122.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 1600px) {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }
}

.text {
    position: relative;

    width: 660px;
    padding: 32px 36px;

    background-image: url("../../assets/svg/revolutionizing/revolutionizing-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    p {
        font-family: "Inter Tight", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #f0f0f0;

        span {
            font-weight: 700;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 329px;
        height: 155px;
        padding: 24px 55px 24px 28px;
        background-image: url("../../assets/svg/revolutionizing/revolutionizing-mobile-bg.svg");

        p {
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.itemIndex {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9px;

    border: 1px solid rgba(18, 255, 241, 0.5);

    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #ffffff;
}
