.container {
    position: relative;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 300px;
    padding: 15px 30px;
    border-radius: 10px;

    background: rgb(87, 87, 87);
}
.timeSegment {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Inter Tight", sans-serif;
    color: #afafaf;
}
.time {
    font-size: 34.99px;
    font-weight: 500;
    line-height: 38.49px;
    text-align: center;
}

.separator {
    margin-top: 8px;

    font-size: 20.99px;
    font-weight: 400;
    line-height: 23.09px;
}

.label {
    font-size: 14.82px;
    font-weight: 400;
    line-height: 16.3px;
    text-align: center;
}
