.container {
    max-width: 1600px;
    margin: 100px auto 0;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 94px;
    font-weight: 400;
    line-height: 104px;
    letter-spacing: -0.04em;
    color: #f0f0f0;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.item {
    width: 300px;
    height: 170px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(odd) {
        border-radius: 16px;
        border: 1px solid #575757;
    }
}
