.teamContainer {
    background-color: #111;
    color: #fff;
    position: relative;

    background:
        url('../../assets/svg/faq/Gradient.svg') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
    z-index: 9999;
    padding: 2rem;
    padding-bottom: 0;

    button {
        padding: 0.5rem 1rem;
        width: 100%;
        font-family: "Space Grotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: -0.96px;
        border-radius: 100px;
        background: var(--white-head-text, #F0F0F0);
    }

    .activeButton {
        background: var(--white-head-text, #F0F0F0);
    }

    .inactiveButton {
        background: rgba(240, 240, 240, 0.10);
    }
}

.teamDescription,
.advisorsDescription {
    padding: 2rem;
    padding-bottom: 0;
    color: var(--grey-text, #AFAFAF);
    text-align: center;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 140% */
    max-width: 600px;
    margin: 2rem auto;


    span {
        font-family: "Inter Tight";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }
}

.gridWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.teamGrid, 
.advisorsGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
    padding-left: 2rem;
    min-height: calc(297.722px + 5rem);
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .person {
        flex: 0 0 auto;
        width: 233px;
    }
    
}

@media (min-width: 1800px) {
    .gridWrapper {
        width: 100%;
    }

    .grid {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: visible;
    }
}

.person {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 233px;
    height: 297.722px;
    padding: 1rem;
    box-shadow:
        inset 0 20px 20px -20px rgba(0, 0, 0, 0.9),
        inset 0 -20px 20px -20px rgba(0, 0, 0, 0.7);
}


.icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    height: auto;
    margin: 0;
    padding: 0;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.linkedinButton {
    background-color: #0e76a8;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.nameAdvisor {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 19.056px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.role {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.roleAdvisor {
    color: var(--white-head-text, #F0F0F0);
    font-family: "Inter Tight";
    font-size: 31.76px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.advisors {
    margin-top: 5rem;
}