.wrapper {
  position: relative;
  width: 100%;
  background-image: url("/src/assets/images/sections/ellipse.png"),
    url("/src/assets/images/sections/Hero/heroMobileBg.png");
  background-size: 100%;
  background-position: left 0px bottom -200px, left 0px top 150px;
  background-repeat: no-repeat;
  padding-top: 118px;

  .backgroundVideo {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    max-width: 1325px;
    color: #fff;
    padding: 0px 1rem;
    margin: 0 auto;
    .leftColumn {
      padding-top: 50px;
      text-align: center;
      .title {
        font-family: "Space Grotesk", sans-serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 54px;
        letter-spacing: -0.04em;
        color: #f0f0f0;
        span {
          color: #12fff1;
        }
      }
      .subtitle {
        margin-top: 14px;
        font-family: "Inter Tight", sans-serif;
        font-size: 20px;
        font-weight: 200;
        line-height: 28px;
        color: #f0f0f0;
      }
      .description {
        font-family: "Inter Tight", sans-serif;
        font-size: 16px;
        font-weight: 200;
        line-height: 22px;
        color: #afafaf;
        margin-top: 35px;
        b {
          font-weight: 400;
          color: #fff;
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 50px;
        justify-content: center;

        .socialLink {
          display: flex;
          align-items: center;
          gap: 8px;

          &:hover {
            opacity: 0.8;
          }

          .socialIcon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #2B2B2B;
            border-radius: 100%;
          }

          span {
            font-family: "Inter Tight", sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            color: #9B9B9B;
          }
        }
        // .button {
        //   height: 60px;
        //   width: 220px;
        //   background: #12fff1;
        //   font-family: "Inter Tight", sans-serif;
        //   font-size: 22px;
        //   font-weight: 400;
        //   line-height: 28px;
        //   text-align: center;
        //   color: #0f0f0f;
        //   transition: all 0.1s ease-in-out;
        //   border-radius: 60px;
        //   &:hover {
        //     opacity: 0.8;
        //   }
        // }
        // .linkButton {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   gap: 10px;
        //   height: 60px;
        //   width: 220px;
        //   background: #f0f0f026;
        //   font-family: "Inter Tight", sans-serif;
        //   font-size: 22px;
        //   font-weight: 400;
        //   line-height: 28px;
        //   color: #afafaf;
        //   border-radius: 100px;
        //   svg {
        //     transition: all 0.1s ease-in-out;
        //   }
        // }
      }
    }
    .rightColumn {
      .timerWrapper {
        height: 300px;
        width: 288px;
        background-image: url("../../assets/svg/hero-card-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-size: 16px;
        font-size: 12px;
        margin: auto;
        z-index: 1;
        .timerWrapperTitle {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 8px;
          font-family: "Inter Tight", sans-serif;
          font-weight: 300;
          line-height: 17px;
          color: #f0f0f0;
          padding: 5px 2.5rem 0px 0;
          img {
            width: 26px;
            height: 26px;
          }
        }
        .timer {
          height: 238px;
          width: 255px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #1f1f1f99;
          background-image: url("../../assets/svg/hero-card-bg-star.svg");
          background-size: cover;
          background-position: center;
          border-radius: 14px;
          margin: 15px auto;
          .title {
            font-family: "Space Grotesk", sans-serif;
            font-size: 24px;
            font-size: 24px;
            font-weight: 300;
            line-height: 64.38px;
            letter-spacing: -0.04em;
            text-align: left;
            background: linear-gradient(
              0deg,
              rgba(15, 15, 15, 0.08) 0%,
              rgba(237, 255, 254, 0.72) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .loader {
            svg {
              width: 70px;
              height: 70px;
              path {
                fill: linear-gradient(to top, #12fff1, #000000);
              }
            }
          }
        }
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
  .wrapper {
    .container {
      .leftColumn {
        .title {
          span {
          }
        }
        .subtitle {
        }
        .description {
          b {
          }
        }
        .actions {
          &:hover {
            svg {
            }
          }
          .button {
            &:hover {
            }
          }
          .linkButton {
            svg {
            }
          }
        }
      }
      .rightColumn {
        .timerWrapper {
          height: 379px;
          width: 361px;
          .timerWrapperTitle {
            font-size: 16px;
            font-size: 12px;
            padding: 10px 3rem 0px 0;
            img {
            }
          }
          .timer {
            height: 315px;
            width: 332px;
            .title {
              font-size: 32px;
              font-size: 24px;
            }
            .loader {
              svg {
                width: 100px;
                height: 103px;
                path {
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
  .wrapper {
    .container {
      .leftColumn {
        .title {
          span {
          }
        }
        .subtitle {
        }
        .description {
          b {
          }
        }
        .actions {
          &:hover {
            svg {
            }
          }
          .button {
            &:hover {
            }
          }
          .linkButton {
            svg {
            }
          }
        }
      }
      .rightColumn {
        .timerWrapper {
          .timerWrapperTitle {
            img {
            }
          }
          .timer {
            &::after {
            }
            .title {
            }
            .loader {
              svg path {
              }
            }
          }
        }
      }
    }
  }
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
  .wrapper {
    background-image: url("../../assets/images/sections/Hero/heroDesktopBg.png");
    background-size: cover;
    background-position: left 0px top 0px;
    background-repeat: no-repeat;
    .container {
      flex-direction: row;
      align-items: center;
      .leftColumn {
        text-align: left;
        padding: 3rem 0;
        .title {
          span {
          }
        }
        .subtitle {
        }
        .description {
          b {
          }
        }
        .actions {
          justify-content: start;
          &:hover {
            svg {
            }
          }
          .button {
            &:hover {
            }
          }
          .linkButton {
            svg {
            }
          }
        }
      }
      .rightColumn {
        .timerWrapper {
          .timerWrapperTitle {
            img {
            }
          }
          .timer {
            &::after {
            }
            .title {
            }
            .loader {
              svg path {
              }
            }
          }
        }
      }
    }
  }
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
  .wrapper {
    background: none;

    .videoWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 0;
      overflow: hidden;

      opacity: 0.3;
    
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: linear-gradient(to top, #000, transparent);
        z-index: 1;
      }
    }
    
    .backgroundVideo {
      display: block;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    .container {
      position: relative;
      z-index: 2;
      .leftColumn {
        .title {
          span {
          }
        }
        .subtitle {
        }
        .description {
          b {
          }
        }
        .actions {
          flex-direction: row;
          &:hover {
            svg {
            }
          }
          .button {
            &:hover {
            }
          }
          .linkButton {
            svg {
            }
          }
        }
      }
      .rightColumn {
        .timerWrapper {
          .timerWrapperTitle {
            img {
            }
          }
          .timer {
            &::after {
            }
            .title {
            }
            .loader {
              svg path {
              }
            }
          }
        }
      }
    }
  }
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
  .wrapper {
    .container {
      .leftColumn {
        .title {
          span {
          }
        }
        .subtitle {
        }
        .description {
          b {
          }
        }
        .actions {
          &:hover {
            svg {
            }
          }
          .button {
            &:hover {
            }
          }
          .linkButton {
            svg {
            }
          }
        }
      }
      .rightColumn {
        .timerWrapper {
          .timerWrapperTitle {
            img {
            }
          }
          .timer {
            &::after {
            }
            .title {
            }
            .loader {
              svg path {
              }
            }
          }
        }
      }
    }
  }
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
  .wrapper {
    padding-top: 160px;
    .container {
      gap: unset;
      .leftColumn {
        .title {
          font-size: 99.38px;
          font-weight: 400;
          line-height: 99.38px;
          span {
          }
        }
        .subtitle {
          font-size: 26.5px;
          font-weight: 300;
          line-height: 37.1px;
        }
        .description {
          font-size: 23.19px;
          line-height: 32.46px;
        }
        .actions {
          margin-top: 100px;
          gap: 20px;
          .socialLink {

            .socialIcon {
              width: 33.13px;
              height: 33.13px;
            }

            span {
              font-size: 16.56px;
              line-height: 18.22px;
            }
          }
          // .button {
          //   height: 75px;
          //   width: 255px;
          //   font-size: 28px;
          //   line-height: 39px;
          // }
          // .linkButton {
          //   height: 75px;
          //   width: 255px;
          //   font-size: 28px;
          //   line-height: 39px;
          //   svg {
          //   }
          // }
        }
      }
      .rightColumn {
        .timerWrapper {
          width: 543.66px;
          height: 569.49px;
          .timerWrapperTitle {
            font-size: 19.88px;
            line-height: 21.86px;
            padding: 1.5rem 7rem 0.5rem 0;
            img {
            }
          }
          .timer {
            gap: 2rem;
            width: 499.36px;
            height: 474.52px;
            &::after {
            }
            .title {
              font-size: 44.72px;
              font-weight: 300;
              line-height: 53.66px;
            }
            .loader {
              svg {
                width: 220px;
                height: 226px;
                path {
                }
              }
            }
          }
        }
      }
    }
  }
}
