.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 140px;
  .title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #f0f0f0;
    margin-bottom: 1.5rem;
  }
  .containerFluid {
    width: 100%;
  }
}

.item {
  height: 60px;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
