.wrapper {
  position: fixed;
  top: 0;
  // top: 38px;
  left: 0;
  right: 0;

  z-index: 100;
  transition: backdrop-filter 0.3s;

  &.blur {
    backdrop-filter: blur(22px);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
    max-width: 1600px;
    height: 80px;
    padding: 1rem;
    margin: auto;
    overflow-y: hidden;
    overflow-x: clip;
    transition: all 0.3s;
    &.isOpen {
      height: 100vh;
      transition: all 1s;
      backdrop-filter: blur(22px);
      background-color: rgba(0, 0, 0, 0.3);
    }
    .burgerBtn {
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: flex;
      height: 50px;
    }
    .logo {
      img {
        height: 50px;
      }
    }
    // .socialsContainer {
    //   order: 3;
    //   display: flex;
    //   align-items: center;
    //   gap: 24px;
    //   justify-content: center;
    //   width: 100%;
    //   .socialItem {
    //     display: flex;
    //     align-items: center;
    //     gap: 10px;
    //     &:hover {
    //       opacity: 0.8;
    //     }
    //   }
    //   .socialIcon {
    //     padding: 10px;
    //     background: #2b2b2b;
    //     height: 40px;
    //     width: 40px;
    //     border-radius: 100px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     img {
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }

    //   .socialName {
    //     font-family: "Inter Tight", sans-serif;
    //     font-size: 18px;
    //     font-weight: 400;
    //     line-height: 22px;
    //     color: #9b9b9b;
    //   }
    // }
    .linksContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      .link {
        background: transparent;
        font-family: "Inter Tight", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 70px;
        text-align: center;
        color: #f0f0f0;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: rgb(255, 255, 255, 0.16);
        backdrop-filter: blur(22px);
        border-radius: 70px;
        &:hover {
          opacity: 0.8;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
  .wrapper {
    // top: 38px;
    padding-top: 30px;
    .container {
      flex-direction: row;
      height: calc(70px + 2rem);
      gap: 0px;
      align-items: center;
      &.isOpen {
        height: auto;
      }
      .burgerBtn {
        display: none;
      }
      .logo {
        flex: 20%;
        img {
          order: 1;
          height: 70px;
        }
      }
      .socialsContainer {
        order: 2;
        flex: 40%;
        .socialItem {
          &:hover {
          }
        }
        .socialIcon {
          img {
          }
        }
        .socialName {
        }
      }
      .linksContainer {
        order: 3;
        flex-direction: row;
        flex: 35%;
        border-radius: 70px;
        .link {
          width: 100%;
          font-size: 18px;
          line-height: 70px;
          border-bottom: none;
          &:hover {
          }
          &:last-child {
          }
        }
      }
    }
  }
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
  .wrapper {
    .container {
      &.isOpen {
      }
      .burgerBtn {
      }
      .logo {
        flex: 35%;
        img {
        }
      }
      .socialsContainer {
        flex: 30%;
        .socialItem {
          &:hover {
          }
        }
        .socialIcon {
          img {
          }
        }
        .socialName {
          font-size: 20px;
        }
      }
      .linksContainer {
        max-width: 35%;
        flex: 35%;
        .link {
          font-size: 20px;
          &:hover {
          }
          &:last-child {
          }
        }
      }
    }
  }
}
