.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url('../../assets/svg/joinus/card.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    height: 200px;
    text-align: left;

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        background-image: url('../../assets/svg/joinus/plus.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
        width: 308px;
        height: 111.415px;
        background-image: url('../../assets/svg/joinus/dcard.svg');
        display: flex;
        flex-direction: row;

        fill: rgba(0, 0, 0, 0.10);
        stroke-width: 1px;
        stroke: rgba(255, 255, 255, 0.19);
        backdrop-filter: blur(20px);

        &::after {
            width: 30px;
            height: 30px;
        }
    }
}

.platform {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #FFF;
    font-family: "Inter Tight";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 1rem;
        margin-bottom: 0.5rem;

        //add vertical line
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: -10px;
            align-self: center;
            right: -40px;
            width: 2px;
            height: 100%;
            opacity: 0.3;
            background: var(--Dark-Grey, #575757);
        }
    }
}

.handle {
    font-size: 1rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.followers {
    color: #959595;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    p {
        color: var(--white-head-text, #F0F0F0);
        font-family: "Inter Tight";
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 43.2px */
    }

    @media (max-width: 768px) {
        margin-right: 4rem;
        padding-top: 0.5rem;
    }
}