.joinUsContainer {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 5rem;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 50%;
    //     background: linear-gradient(to top, #000, transparent);
    //     z-index: 1;
    // }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     height: 110%;
    //     background: linear-gradient(to bottom, #000, transparent);
    //     z-index: 1;
    // }

    @media (max-width: 768px) {
        margin-top: 1rem;

        &::before, &::after {
            content: "";
            display: none;
        }
    }
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    padding-bottom: 2px;

    @media (max-width: 768px) {
        display: none;
    }
}

.titleContainer {
    position: relative;
    z-index: 10;
    // background: #000;
    // backdrop-filter: blur(68.25px);
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }

    .title {
        font-family: "Space Grotesk";
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: 104px;
        letter-spacing: -4.8px;

        @media (max-width: 768px) {
            font-size: 44px;
            line-height: 42px;
            letter-spacing: -0.04em;
            text-align: center;
        }
    }

    .subtitle {
        position: relative;
        top: 10px;
        z-index: 10;
        color: var(--grey-text, #AFAFAF);
        text-align: center;
        font-family: "Inter Tight";
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        width: 50%;
        margin: 0 auto;

        span {
            font-weight: 600;
        }

        @media (max-width: 768px) {
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: -0.4px;
            width: 100%;
        }
    }
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    min-height: 600px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 0;

        padding-bottom: 20px;
        background:
            linear-gradient(to bottom,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.3) 30%,
                rgba(0, 0, 0, 0.3) 70%,
                rgba(0, 0, 0, 0.5) 100%),
            url('../../assets/svg/joinus/joinusbg.png') no-repeat center center;
        background-size: cover;
    }
}

.cardsContainer {
    height: 100%;
    width: 100%;
}

.cardTopLeft {
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBottomCenter {
    grid-column: 2;
    grid-row: 2;
}

.cardTopRight {
    grid-column: 3;
    grid-row: 1;
    margin-top: 20px;
}