.wrapper {
  padding: 50px 0;
  background-image: url("../../assets/images/why-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
    .item {
      &:nth-child(2) {
        // margin-left: auto;
      }
      &:nth-child(3) {
        // margin-left: 70px;
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
  .wrapper {
    .container {
      .item {
        &:nth-child(2) {
          // margin-left: auto;
        }
        &:nth-child(3) {
          // margin-left: 70px;
        }
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
  .wrapper {
    background-size: contain;
    .container {
      align-items: normal;
      .item {
        &:nth-child(1) {
          margin-right: auto;
        }
        &:nth-child(2) {
          margin-left: auto;
        }
        &:nth-child(3) {
          margin-left: 70px;
        }
      }
    }
  }
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
  .wrapper {
    padding: 200px 0 200px;
    .container {
      .item {
        &:nth-child(2) {
        }
        &:nth-child(3) {
        }
      }
    }
  }
}
