.wrapper {
  background-image: url("/src/assets/svg/platform-to-replace-bg.svg");
  background-repeat: no-repeat;
  background-position: top 8px center;
  background-size: 278%;
  margin-top: 5rem;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    max-width: 1325px;
    padding: 0 1rem;
    margin: 0 auto;
    padding-bottom: 130px;

    .description {
      text-align: center;
      span {
        opacity: 0.6;
        font-family: "Inter Tight", sans-serif;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: #f0f0f0;
      }
      h4 {
        max-width: 360px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 32px;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #f0f0f0;
        margin-top: 1rem;
      }
    }
      .carousel {
        max-height: 370px;
        position: absolute;
        bottom: 32px;
        min-width: 800px;
        width: 100%;
        max-width: 800px;
        overflow-x: hidden;

        .slide {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto 0;
        }

      span {
        padding: 8px 16px;
        border-radius: 12px;

        display: block;
        opacity: 0.2;
        font-family: "Space Grotesk", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        color: #f0f0f0;

        width: fit-content;

        text-transform: capitalize;
        text-wrap: nowrap;
        background: #1dded203;
        border: 1px solid rgba(255, 255, 255, 0.19);
      }
      .active {
        opacity: 1;
        backdrop-filter: blur(94px);
        
        color: #12fff1;
      }
    }
  }
}

/* Малые устройства (≥576px) */
@media (min-width: 393px) {
}

/* Малые устройства (≥576px) */
@media (min-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (min-width: 768px) {
  .wrapper {
    background-position: center;
    background-size: contain;
    .container {
      flex-direction: row;
      align-items: baseline;
      margin: 100px auto;

      height: 300px;
      .description {
        span {
        }
        h4 {
          max-width: none;
        }
      }
      .carousel {
        min-width: 1000px;
        span {
          padding: 0;
          border: 0;

          opacity: 0.2;
          font-family: "Space Grotesk", sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 28.8px;
          text-align: center;
          color: #f0f0f0;
        }
        .active {
          opacity: 1;
          padding: 8px 24px 16px 24px;
          border-radius: 12px;
          background: #1dded203;
          backdrop-filter: blur(94px);
          border: 1px solid rgba(255, 255, 255, 0.19);
          font-size: 44px;
          font-weight: 400;
          line-height: 56.14px;
          letter-spacing: -0.04em;
          color: #12fff1;
        }
      }
    }
  }
}

/* Большие устройства (≥992px) */
@media (min-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (min-width: 1200px) {
  .wrapper {

    .container {
      padding-bottom: 0;
      gap: 40px;
      // height: 470px;
      .description {
        text-align: left;
        width: 72%;
        span {
          font-size: 26.24px;
          font-weight: 300;
          line-height: 36.74px;
        }
        h4 {
          font-size: 44.29px;
          font-weight: 400;
          line-height: 53.14px;
        }
      }
      .carousel {
        max-height: 350px;
        position: relative;

        min-width: 0;
        width: 25%;
        span {
          text-wrap: wrap;
          opacity: 0.2;
          font-family: "Space Grotesk", sans-serif;
          font-size: 32.8px;
          font-weight: 400;
          line-height: 39.36px;
          letter-spacing: -0.04em;
          text-align: center;
          color: #f0f0f0;
        }
        .active {
          opacity: 1;
          padding: 16px;
          border-radius: 12px;
          background: #1dded203;
          backdrop-filter: blur(94px);
          border: 1px solid rgba(255, 255, 255, 0.19);
          font-size: 48px;
          line-height: 50px;
          color: #12fff1;
        }
      }
    }
  }
}

/* Сверхбольшие устройства (≥1400px) */
@media (min-width: 1400px) {
}
