.container {
  max-width: 1326px;
  width: 100%;
  margin: 100px auto 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: all 0.5s;
  &.hidden {
    overflow: hidden;
    height: 543px;
  }
}
.minContent {
  max-width: 1053px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.action {
  display: none;
  .btn {
    span {
    }
  }
}

.empty {
  height: 233px;
}

.item {
  position: relative;
  width: 233px;
  height: 233px;
  padding: 30px 22px;
  border: 1px solid rgba(237, 255, 254, 0.4);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #afafaf;

  span {
    font-weight: 700;
    color: #f0f0f0;
  }

  .itemAbs {
    position: absolute;
    top: 6px;
    left: -5px;
    right: -10px;
    font-family: "Inter Tight", sans-serif;
    font-size: 161px;
    font-weight: 700;
    line-height: 161px;
    text-align: center;
    color: #f0f0f0;
  }
}
.maxItem {
  position: relative;
  width: 233px;
  height: 506px;
  padding: 30px 22px;
  border: 1px solid rgba(237, 255, 254, 0.4);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #afafaf;

  .maxItemTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: #f0f0f0;
  }

  p span {
    font-weight: 700;
    color: #f0f0f0;
  }
}

/* Малые устройства (≥576px) */
@media (max-width: 393px) {
  .container {
    justify-content: center;
    > img {
      order: 5;
      &:nth-child(4) {
        order: 1;
      }
    }
    > div {
      order: 5;
      &:nth-child(8) {
        order: 1;
      }
      &:nth-child(11) {
        order: 5;
      }
      &:nth-child(12) {
        order: 3;
      }
      &:nth-child(14) {
        order: 4;
      }
    }
  }
  .minContent {
    justify-content: center;
  }

  .empty {
    display: none;
  }

  .item {
    span {
    }

    .itemAbs {
      font-size: 114px;
      line-height: 114px;
    }
  }
  .maxItem {
    .maxItemTop {
    }

    p span {
    }
  }
}

/* Малые устройства (≥576px) */
@media (max-width: 576px) {
}

/* Средние устройства (≥768px) */
@media (max-width: 768px) {
  .container {
    justify-content: center;
    > img {
      order: 5;
      &:nth-child(4) {
        order: 1;
      }
    }
    > div {
      order: 5;
      &:nth-child(8) {
        order: 1;
      }
      &:nth-child(11) {
        order: 5;
      }
      &:nth-child(14) {
        order: 4;
      }
    }
  }
  .minContent {
    justify-content: center;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .btn {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 20px;
      line-height: 28px;
      color: #f0f0f0;
      span {
        display: inline-flex;
        border: 2px solid rgba(18, 255, 241, 0.5);
        height: 30px;
        width: 30px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .empty {
    display: none;
  }

  .item {
    span {
    }

    .itemAbs {
    }
  }
  .maxItem {
    .maxItemTop {
    }

    p span {
    }
  }
}

/* Большие устройства (≥992px) */
@media (max-width: 992px) {
}

/* Очень большие устройства (≥1200px) */
@media (max-width: 1200px) {
}

/* Сверхбольшие устройства (≥1400px) */
@media (max-width: 1400px) {
}
